*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.pic{
    background: url(images/photo.jpg);
    background-position: 12px;
    background-size: 70vh;
    width: 16cm;
    height: 25cm;
    background-repeat: no-repeat;

}
.content{
    width: 900px;
    height: 17cm;
    margin: 35px;
    color: #fff;
    position: center;
    margin-left: 900px;
    margin-top: -600px;
    margin-right: 70px;

}
.content .par{
    padding-right: 30px;
    padding-bottom: 50px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 40px;
    padding-left: 20px;
    letter-spacing: 2px;
} 
.content span{
    color: #ff7200;
    font-size: 38px;
} 
.content .cn{
    width: 240px;
    height: 50px;
    border: 2px solid #ff7200;
    border-radius: 20px;
    background: black;
    margin-top: 5vh;
    
    
}
.content .cn {
    color: #fff;
}

.content .orange-color{
    color: #ff7200;
    
}
.navbar{
    height: 100%;
    width: 3%;
    background: rgb(120, 113, 113);
    position: right;
    margin-left: 1850px;
    margin-top: -1025px
}
.fa-lightbulb{
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    height: 70px;
    width: 60px;
    font-size: 30px;
    

}
.fa-house-chimney{
    color: white;
    margin-left: 18px;
    margin-top: 250px;
    width: 40px;
    height: 20px;
    font-size: 25px;
}
.fa-user{
    color: white;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 25px;
}
.fa-briefcase{
    color: white;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 25px;
}
.fa-envelope-open{
    color: white;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 25px;
}
.fa-comments{
    color: white;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 20px;
}
.navbar :hover{
    color: #ff7200;
}


    