*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.pic{
    background: url(images/photo.jpg);
    background-position: left;
    background-size: 80vh;
    width: 7cm;
    height: 85vh;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-left:-12px;
    margin-top: 20px;
}