*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.pic{
    background: url(images/pic.jpg);
    background-position: left;
    background-size: 80vh;
    width: 7cm;
    height: 90vh;
    top: -20px;
    margin-left:-10px;
    margin-top: -5px;
    margin-bottom:30px;
    
}